* {
    background-color: rgb(241, 241, 33);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkred;
}

.naslov2 {
    text-align: center;
}

h3 {
    color: red;

}

p {
    color: purple;
    font-size: 20px;
}

img {
    width: 400px;
    height: 300px;
    border: dashed 2px;

}

a {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}


.par {
    text-align: right;
    font-size: 24px;
}

#naslov3 {
    text-align: center;
    color: green;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
